<h1>会員情報</h1>
<hr>
<h3>ユーザー名: <small><%= @user.name %></small></h3>
<h4>所属: <%= @user.belonging %></h4>
<h4>自己紹介</h4>
<p><%= @user.introduction %></p>

<%= link_to 'プロフィール編集', edit_user_registration_path, class: "btn btn-info" %>
